### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/classes/constant/FixedValues.class
/classes/members/Acceptor.class
/classes/members/AcceptorRequestHandler.class
/classes/members/M1.class
/classes/members/M2.class
/classes/members/M3.class
/classes/members/M4_9.class
/classes/members/Proposer.class
/classes/Main.class
/classes/utils/LamportID.class
